<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_TinyUrl>
            <version>0.1.0</version>
        </Hackathon_TinyUrl>
    </modules>
    <global>
        <helpers>
            <tinyurl>
                <class>Hackathon_TinyUrl_Helper</class>
            </tinyurl>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <tinyurl>
                        <class>Hackathon_TinyUrl_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </tinyurl>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <catalog>
            <tinyurl>
                <product_prefix>p</product_prefix>
                <category_prefix>c</category_prefix>
                <cms_page_prefix>m</cms_page_prefix>
            </tinyurl>
        </catalog>
    </default>
</config>